<!DOCTYPE html>
<html>

  <head>

    <title>Herddit - Discover your next band!</title>
  </head>

  <body>
    <div class="jumbotron text-center">
      <h1>Herrdit.com</h1>
    </div>
    <div id='songs' class="container-fluid">
      <form id='addSong' action="#">
        <div class='row'>
          <div class='col-sm-3'>
            <span>Song Title: </span><input type='text' id='title' placeholder="Song Title" />
          </div>
          <div class='col-sm-2'>
            <span>Artist: </span><input type='text' id='artist' placeholder="Artist" />
          </div>
          <div class='col-sm-2'>
            <span>Genre: </span><input type='text' id='genre' placeholder="Genre" />
          </div>
          <div class='col-sm-3'>
            <span>SoundCloud URL: </span><input type='url' id='url'placeholder="SoundCloud URL" />
          </div>
          <div class='col-sm-2'>
            <button id='submitSong'>Add Song</button>
        </div>
      </form>
    </div>
    <div id='player'>
    </div>
    <div id='search' class='row'>
      <form id='searchSongs'>
        <span>Search Songs: <input type='text' id='searchField' placeholder="Seach SoundCloud"></input><button id='submitSearch'>Search</button></span>
      </form>
      <div id='searchResults'>
      </div>
    </div>

    <script type='text/template' id='songs-template'>
      <div class='row'>
        <span class='song'>
          <div class='col-sm-4'>
            <span class='vote'>Upvotes: <%= upvotes %></span>
          </div>
          <div class='col-sm-4'>
            <span class='songTitle'><%= title %></span>
          </div>
          <div class='col-sm-4'>
            <button class='songURL' href= "<%= url %>">Play Song</button> <button id='upvote'>UpVote</button>
          </div>
        </span>
       </div>
    </script>

    <script type='text/template' id='search-template'>
      <div class='row'>
        <span class="result">
          <div class='col-sm-4'>
            <img class="artwork" src="<%= data.artwork_url %>"/>
          </div>
          <div class='col-sm-4'>
            <span class="searchTitle"><%= data.title %></span>
          </div>
          <div class='col-sm-4'>
            <button id='addResult'> Add Song </button>
          </div>
        </span>
    </script>

    <script src="https://connect.soundcloud.com/sdk/sdk-3.1.2.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js" ></script>
    <script src="bower_components/underscore/underscore-min.js" ></script>
    <script src="bower_components/handlebars/handlebars.min.js" ></script>
    <script src="bower_components/backbone/backbone-min.js" ></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="models/song.js"></script>
    <script src="models/searchResult.js"></script>
    <script src="collections/list.js"></script>
    <script src="collections/searchResults.js"></script>
    <script src="views/song.js"></script>
    <script src="views/searchresult.js"></script>
    <script src="views/list.js"></script>
    <script src="views/searchlist.js"></script>
    <script src="client.js"></script>
    <link rel="stylesheet" href="assets/styles.css">
  </body>

</html>